/* ===== CSS Boilerplate ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 html,body {
height :100% ;
width : 100% ;
}
#box1{
    margin: 20px;
    height: 200px;
    width: 200px;
    background-color: rgb(247, 183, 196);
    border-radius: 50%;
}
#box2{
    margin: 20px;
    height: 200px;
    width: 200px;
    background-color: rgb(162, 188, 223);
     border-radius: 50%;
}