/* ===== CSS Boilerplate ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 html,body {
height :100% ;
width : 100% ;
}
#box1{
    margin: 20px;
    height: 200px;
    width: 200px;
    background-color: rgb(247, 183, 196);
    border-radius: 50%;
}
#box2{
    margin: 20px;
    height: 200px;
    width: 200px;
    background-color: rgb(162, 188, 223);
     border-radius: 50%;
}
#page1{
    height: 100%;
    width: 100%;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page2{
    height: 100%;
    width: 100%;
    background-color: rgb(102, 191, 220);
    display: flex;
    align-items: center;
    justify-content: center;
}
#page3{
    height: 100%;
    width: 100%;
    background-color: rgb(40, 176, 221);
    display: flex;
    align-items: center;
    justify-content: center;
}
#box{
    height: 300px;
    width: 300px;
    background-color: red;
}